<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Profile</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="wrapper">
        <div class="slideshow">
            <div class="slide" style="background-image: url('../static/img/cld4.jpg');"></div>
            <div class="slide" style="background-image: url('../static/img/cld2.jpg');"></div>
            <div class="slide" style="background-image: url('../static/img/cld3.jpg');"></div>
            <div class="slide" style="background-image: url('../static/img/cld1.jpg');"></div>
        </div>
        <nav class="nav bd-grid">
            <div>
                <a href="#" class="nav__logo">@CloudInsights</a>
            </div>
            <div class="navbar">
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a class="active" href="profile.html">My Profile</a></li>
                </ul>
            </div>
        </nav>
        <div class="center">
            <h1>My Profile</h1>
            <h2>Manage your profile and preferences</h2>
            <div class="content">
                <p>Profile details and settings...</p>
                <!-- Add more profile content here -->
            </div>
        </div>
    </div>
</body>
</html>
